<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-content">
                    <div class="footer-info">
                        <p>
                            <strong>앤포이즈</strong> - 자동차 경제 전문매체로 최신 자동차 정보를 제공합니다.<br>
                            <strong>카테고리:</strong> 자동차, 전기차, 모빌리티 | 
                            <strong>회사 정보:</strong> <a href="/about/">회사소개</a>, <a href="/contact/">정보제보 및 문의</a>, <a href="/editorial-guidelines/">편집 지침</a> | 
                            <strong>정책:</strong> <a href="/privacy/">개인정보처리방침</a>, <a href="/youth-protection/">청소년보호정책</a>, <a href="/terms/">이용약관</a><br>
                            <strong>회사:</strong> 앤포이즈 | <strong>제호:</strong> 앤포이즈 | <strong>등록번호:</strong> {{ .Site.Params.mediaRegistration }} | <strong>등록일:</strong> {{ .Site.Params.registrationDate }}<br>
                            <strong>주소:</strong> {{ .Site.Params.address }} | <strong>대표전화:</strong> {{ .Site.Params.phone }}<br>
                            <strong>발행·편집인:</strong> {{ .Site.Params.publisher }} | <strong>청소년보호책임자:</strong> {{ .Site.Params.youthProtectionOfficer }}<br>
                            Copyright © {{ now.Format "2006" }} 앤포이즈. All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
